/AcademicSystem_LogicaAplicacao/target/
/AcademicSystem_Persitence/target/
/AcademicSystem_ConsolePresentation/target/
/AcademicSystem_Presentation/target/
/AcademicSystem_Presentation_Desktop/target/
